{"swagger":"2.0","info":{"title":"Nager.Date API - V3","description":"Used to retrieve bank holidays","termsOfService":"https://date.nager.at/TermsOfService","contact":{"name":"Nager.Date on GitHub","url":"https://github.com/nager/Nager.Date"},"version":"v3"},"host":"date.nager.at","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/api/v3/CountryInfo/{countryCode}":{},"/api/v3/AvailableCountries":{"get":{"tags":["Country"],"summary":"Get all available countries","operationId":"AvailableCountries","produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/CountryV3Dto"}}}}}},"/api/v3/LongWeekend/{year}/{countryCode}":{"get":{"tags":["LongWeekend"],"summary":"Get long weekends for a given country","operationId":"LongWeekend","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"path","name":"year","description":"","required":true,"type":"integer","format":"int32"},{"in":"path","name":"countryCode","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/LongWeekendV3Dto"}}}}}},"/api/v3/PublicHolidays/{year}/{countryCode}":{"get":{"tags":["PublicHoliday"],"summary":"Get public holidays","operationId":"PublicHolidaysV3","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"path","name":"year","description":"","required":true,"type":"integer","format":"int32"},{"in":"path","name":"countryCode","description":"","required":true,"type":"string"}],"responses":{"200":{"description":"Public holidays","schema":{"type":"array","items":{"$ref":"#/definitions/PublicHolidayV3Dto"}}},"400":{"description":"Validation failure"},"404":{"description":"CountryCode is unknown"}}}},"/api/v3/IsTodayPublicHoliday/{countryCode}":{"get":{"tags":["PublicHoliday"],"summary":"Is today a public holiday","description":"The calculation is made on the basis of UTC time to adjust the time please use the offset.<br />\r\nThis is a special endpoint for `curl`<br /><br />\r\n200 = Today is a public holiday<br />\r\n204 = Today is not a public holiday<br /><br />\r\n`STATUSCODE=$(curl --silent --output /dev/stderr --write-out \"%{http_code}\" https://date.nager.at/Api/v3/IsTodayPublicHoliday/AT)`<br /><br />\r\n`if [ $STATUSCODE -ne 200 ]; then # error handling; fi`","operationId":"IsTodayPublicHoliday","parameters":[{"in":"path","name":"countryCode","description":"The Country Code","required":true,"type":"string"},{"in":"query","name":"countyCode","description":"Federal State Code","type":"string"},{"in":"query","name":"offset","description":"utc timezone offset","type":"integer","format":"int32","default":0,"maximum":12,"minimum":-12}],"responses":{"200":{"description":"Today is a public holiday"},"204":{"description":"Today is not a public holiday"},"400":{"description":"Validation failure"},"404":{"description":"CountryCode is unknown"}}}},"/api/v3/NextPublicHolidays/{countryCode}":{"get":{"tags":["PublicHoliday"],"summary":"Returns the upcoming public holidays for the next 365 days for the given country","operationId":"PublicHolidayNextPublicHolidays","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"path","name":"countryCode","required":true,"type":"string"}],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PublicHolidayV3Dto"}}}}}},"/api/v3/NextPublicHolidaysWorldwide":{"get":{"tags":["PublicHoliday"],"summary":"Returns the upcoming public holidays for the next 7 days","operationId":"PublicHolidayNextPublicHolidaysWorldwide","produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"type":"array","items":{"$ref":"#/definitions/PublicHolidayV3Dto"}}}}}},"/api/v3/Version":{"get":{"tags":["Version"],"summary":"Get version of the used Nager.Date library","operationId":"VersionGetVersion","produces":["text/plain","application/json","text/json"],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/VersionInfoDto"}}}}}},"definitions":{"CountryInfoDto":{"description":"CountryInfo Dto","type":"object","properties":{"commonName":{"description":"CommonName","type":"string"},"officialName":{"description":"OfficialName","type":"string"},"countryCode":{"description":"CountryCode","type":"string"},"region":{"description":"Region","type":"string"},"borders":{"description":"Country Borders","type":"array","items":{"$ref":"#/definitions/CountryInfoDto"}}},"additionalProperties":false},"CountryV3Dto":{"description":"Country","type":"object","properties":{"countryCode":{"type":"string"},"name":{"type":"string"}},"additionalProperties":false},"LongWeekendV3Dto":{"description":"Long Weekend","type":"object","properties":{"startDate":{"format":"date-time","description":"StartDate","type":"string"},"endDate":{"format":"date-time","description":"EndDate","type":"string"},"dayCount":{"format":"int32","description":"DayCount","type":"integer"},"needBridgeDay":{"description":"NeedBridgeDay","type":"boolean"}},"additionalProperties":false},"PublicHolidayType":{"enum":["Public","Bank","School","Authorities","Optional","Observance"],"type":"string"},"PublicHolidayV3Dto":{"description":"Public Holiday","type":"object","properties":{"date":{"format":"date","description":"The date","type":"string"},"localName":{"description":"Local name","type":"string"},"name":{"description":"English name","type":"string"},"countryCode":{"description":"ISO 3166-1 alpha-2","type":"string"},"fixed":{"description":"Is this public holiday every year on the same date","type":"boolean"},"global":{"description":"Is this public holiday in every county (federal state)","type":"boolean"},"counties":{"description":"ISO-3166-2 - Federal states","type":"array","items":{"type":"string"}},"launchYear":{"format":"int32","description":"The launch year of the public holiday","type":"integer"},"types":{"description":"A list of types the public holiday it is valid","type":"array","items":{"$ref":"#/definitions/PublicHolidayType"}}},"additionalProperties":false},"VersionInfoDto":{"type":"object","properties":{"name":{"type":"string"},"version":{"type":"string"}},"additionalProperties":false}},"parameters":{},"responses":{},"securityDefinitions":{},"security":[],"tags":[]}